# **1. 단순 선형 회귀 분석**
- 전복의 나이를 예측하는 선형회귀모델을 생성하세요.
- 전복의 ‘성별’, ‘키’, ‘지름’, ‘높이’, ‘전체무게’, ‘몸통무게’, ‘내장무게’, ‘껍질무게’를 이용해 ‘껍질의 고리 수’를 예측한 뒤, **예측된 ‘껍질의 고리 수’에 1.5를 더하면 전복의 나이**가 됩니다.

In [1]:
# 기본 모듈 불러오기
import numpy as np
import pandas as pd

**1) 데이터 load 및 변형**

In [38]:
# 데이터 로드
data = pd.read_csv("C:/Users/MYCOM/data/abalone.csv")
data.head()
print(data.shape)

# 성별 M은 Male, F는 Female, I는 Infant 이므로 따로 열 만들기
for label in "MFI":
    data[label] = data["Sex"] == label
data.drop('Sex', axis=1, inplace=True)

(4177, 9)

In [39]:
data.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,M,F,I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,True,False,False
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,True,False,False
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,False,True,False
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,True,False,False
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,False,False,True

**2) X, y 선택**
: y는 Rings열, X는 Rings열을 제외한 나머지를 선택하되 전부 실수가 되도록 한다.

In [40]:
# X,y 데이터 선택
y = data['Rings']
X = data.drop(['Rings'],axis=1,inplace=False)

In [41]:
X=X.astype('float')

 **3) train/test set 분리**

In [7]:
# 필요한 모듈 불러오기
from sklearn.model_selection import train_test_split

In [8]:
# train과 test set 분리 (train:test = 7:3 비율로)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

**4) 선형회귀모델 생성, 모델 예측치 구하기**

In [9]:
#필요한 모듈 불러오기
from sklearn.linear_model import LinearRegression

In [10]:
#선형회귀모델 생성 및 훈련
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [11]:
# 모델 예측치 구하기
y_preds=lr.predict(X_test)
# 모델 예측치를 활용해 최종적으로 전복의 나이를 예측

In [17]:
print('전복의 나이:')
print(np.round(y_preds*1.5,0))

전복의 나이:
[20. 14. 15. ... 14. 28. 16.]

**5) 모델 평가: MSE, RMSE, R2 score, corr 구하기**

In [18]:
#필요한 모듈 불러오기
from sklearn.metrics import mean_squared_error,r2_score

- MSE, RMSE

In [25]:
#mse, rmse
mse=mean_squared_error(y_test,y_preds)
rmse=np.sqrt(mse)
print('MSE:')
print(mse)
print('RMSE:')
print(rmse)

MSE:
5.003851007700235
RMSE:
2.2369289232562206

- R2 score

In [27]:
#R2 score 측정
r2=r2_score(y_test,y_preds)
print("R2 Score:")
print(r2)

R2 Score:
0.5253868694528046

- 회귀 절편값

In [21]:
#회귀 절편 값
print('절편 값:',lr.intercept_)

절편 값: 3.7449653614603653

- 회귀 계수 값

In [22]:
#회귀 계수 값
print('회귀 계수값',np.round(lr.coef_,1))

회귀 계수값 [ -0.1  11.2   7.1   9.  -20.  -10.7   9.6   0.3   0.2  -0.6]

- 상관계수

Hint: corr 함수 이용.

In [42]:
# 상관계수 구하기
# X 피처들 간의 상관계수
X.corr()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,M,F,I
Length,1.000000,0.986812,0.827554,0.925261,0.897914,0.903018,0.897706,0.236543,0.309666,-0.551465
Diameter,0.986812,1.000000,0.833684,0.925452,0.893162,0.899724,0.905330,0.240376,0.318626,-0.564315
Height,0.827554,0.833684,1.000000,0.819221,0.774972,0.798319,0.817338,0.215459,0.298421,-0.518552
Whole weight,0.925261,0.925452,0.819221,1.000000,0.969405,0.966375,0.955355,0.252038,0.299741,-0.557592
Shucked weight,0.897914,0.893162,0.774972,0.969405,1.000000,0.931961,0.882617,0.251793,0.263991,-0.521842
Viscera weight,0.903018,0.899724,0.798319,0.966375,0.931961,1.000000,0.907656,0.242194,0.308444,-0.556081
Shell weight,0.897706,0.905330,0.817338,0.955355,0.882617,0.907656,1.000000,0.235391,0.306319,-0.546953
M,0.236543,0.240376,0.215459,0.252038,0.251793,0.242194,0.235391,1.000000,-0.512528,-0.522541
F,0.309666,0.318626,0.298421,0.299741,0.263991,0.308444,0.306319,-0.512528,1.000000,-0.464298
I,-0.551465,-0.564315,-0.518552,-0.557592,-0.521842,-0.556081,-0.546953,-0.522541,-0.464298,1.000000

In [35]:
# y예측값과 실제값 사이 상관계수 
np.corrcoef(y_test, y_preds)

array([[1.        , 0.72512941],
       [0.72512941, 1.        ]])

In [44]:
np.corrcoef(y_test, y_preds)[0,1]

0.7251294095063656

# **2. Polynomial features**

In [28]:
# PolynomialFeatures 라이브러리 호출
from sklearn.preprocessing import PolynomialFeatures

In [45]:
# 임의 데이터 생성

X = np.arange(6).reshape(3, 2)

df =  pd.DataFrame(X)
df.columns = ['x_1','x_2']
df

   x_1  x_2
0    0    1
1    2    3
2    4    5

In [46]:
# 차원은 2로 설정
# fit_transform 메소드를 통해 데이터 변환
# PolynomialFeatures로 변환 된 데이터를 데이터 프레임 형태로 변환


df_poly = poly_features.fit_transform(df) 
df_poly = pd.DataFrame(df_poly) 

df_poly

     0    1    2     3     4     5
0  1.0  0.0  1.0   0.0   0.0   1.0
1  1.0  2.0  3.0   4.0   6.0   9.0
2  1.0  4.0  5.0  16.0  20.0  25.0

In [47]:
# df_poly의 컬럼을 1,x1,x2,x1^2,x1*x2,x2^2 로 변경
df_poly.columns = ['1','x1','x2','x1^2','x1*x2','x2^2'] # df_poly의 컬럼을 1,x1,x2,x1^2,x1*x2,x2^2 로 변경

df_poly

     1   x1   x2  x1^2  x1*x2  x2^2
0  1.0  0.0  1.0   0.0    0.0   1.0
1  1.0  2.0  3.0   4.0    6.0   9.0
2  1.0  4.0  5.0  16.0   20.0  25.0