# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [63]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [64]:
wine=pd.read_csv("C:/Users/MYCOM/Downloads/wine.data")
print(type(wine))
print(wine.shape)
wine.head()

<class 'pandas.core.frame.DataFrame'>
(177, 14)

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [65]:
wine.columns

Index(['1', '14.23', '1.71', '2.43', '15.6', '127', '2.8', '3.06', '.28',
       '2.29', '5.64', '1.04', '3.92', '1065'],
      dtype='object')

In [66]:
wine = wine.drop(wine.columns[[0,3,6,8,11,12,13]], axis = 1)
wine.head()

   14.23  1.71  15.6  127  3.06  2.29  5.64
0  13.20  1.78  11.2  100  2.76  1.28  4.38
1  13.16  2.36  18.6  101  3.24  2.81  5.68
2  14.37  1.95  16.8  113  3.49  2.18  7.80
3  13.24  2.59  21.0  118  2.69  1.82  4.32
4  14.20  1.76  15.2  112  3.39  1.97  6.75

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [67]:
wine.columns=['alcohol','malic_acid','alcalinitiy_of_ash','magnesium','flavanoids','proanthocyanins','hue']
wine.head(6)

,alcohol,malic_acid,alcalinitiy_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,4.38
1,13.16,2.36,18.6,101,3.24,2.81,5.68
2,14.37,1.95,16.8,113,3.49,2.18,7.80
3,13.24,2.59,21.0,118,2.69,1.82,4.32
4,14.20,1.76,15.2,112,3.39,1.97,6.75
5,14.39,1.87,14.6,96,2.52,1.98,5.25

In [74]:
import numpy as np

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [75]:
wine.loc[0:2,'alcohol']=np.nan
wine.head()

,alcohol,malic_acid,alcalinitiy_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,4.38
1,NaN,2.36,18.6,101,3.24,2.81,5.68
2,NaN,1.95,16.8,113,3.49,2.18,7.80
3,13.24,2.59,21.0,NaN,2.69,1.82,4.32
4,14.2,1.76,15.2,NaN,3.39,1.97,6.75

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [76]:
wine.loc[3:4,'magnesium']=np.nan
wine.head()

,alcohol,malic_acid,alcalinitiy_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,4.38
1,NaN,2.36,18.6,101,3.24,2.81,5.68
2,NaN,1.95,16.8,113,3.49,2.18,7.80
3,13.24,2.59,21.0,NaN,2.69,1.82,4.32
4,14.2,1.76,15.2,NaN,3.39,1.97,6.75

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [77]:
wine.alcohol.fillna(10, inplace = True)
wine.magnesium.fillna(100,inplace=True)
wine.head()

,alcohol,malic_acid,alcalinitiy_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100,2.76,1.28,4.38
1,10.00,2.36,18.6,101,3.24,2.81,5.68
2,10.00,1.95,16.8,113,3.49,2.18,7.80
3,13.24,2.59,21.0,100,2.69,1.82,4.32
4,14.20,1.76,15.2,100,3.39,1.97,6.75

### Step 9. Count the number of missing values

In [78]:
wine.isnull().sum()

alcohol               0
malic_acid            0
alcalinitiy_of_ash    0
magnesium             0
flavanoids            0
proanthocyanins       0
hue                   0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [81]:
np10=np.random.randint(0,11,10)
np10

array([10,  2,  4,  9,  1,  4,  3,  7,  3,  7])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [93]:
wine.alcohol[np10]=np.nan
wine.malic_acid[np10]=np.nan
wine.alcalinitiy_of_ash[np10]=np.nan
wine.magnesium[np10]=np.nan
wine.flavanoids[np10]=np.nan
wine.proanthocyanins[np10]=np.nan
wine.hue[np10]=np.nan

C:\Users\MYCOM\AppData\Local\Temp\ipykernel_3644\3781371886.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.malic_acid[np10]=np.nan
C:\Users\MYCOM\AppData\Local\Temp\ipykernel_3644\3781371886.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.alcalinitiy_of_ash[np10]=np.nan

In [94]:
wine.head(10)

,alcohol,malic_acid,alcalinitiy_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,4.38
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,14.39,1.87,14.6,96.0,2.52,1.98,5.25
6,14.06,2.15,17.6,121.0,2.51,1.25,5.05
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,13.86,1.35,16.0,98.0,3.15,1.85,7.22
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 12.  How many missing values do we have?

In [95]:
wine.isnull().sum()

alcohol               7
malic_acid            7
alcalinitiy_of_ash    7
magnesium             7
flavanoids            7
proanthocyanins       7
hue                   7
dtype: int64

### Step 13. Delete the rows that contain missing values

In [96]:
wine = wine.dropna(axis = 0, how = "any")
wine.head()

,alcohol,malic_acid,alcalinitiy_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,4.38
5,14.39,1.87,14.6,96.0,2.52,1.98,5.25
6,14.06,2.15,17.6,121.0,2.51,1.25,5.05
8,13.86,1.35,16.0,98.0,3.15,1.85,7.22
11,13.75,1.73,16.0,89.0,2.76,1.81,5.60

### Step 14. Print only the non-null values in alcohol

In [98]:
nnullwine=wine.alcohol.notnull()

In [99]:
nnullwine

0      True
5      True
6      True
8      True
11     True
       ...
172    True
173    True
174    True
175    True
176    True
Name: alcohol, Length: 170, dtype: bool

### Step 15.  Reset the index, so it starts with 0 again

In [100]:
wine = wine.reset_index(drop = True)
wine.head()

,alcohol,malic_acid,alcalinitiy_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,4.38
1,14.39,1.87,14.6,96.0,2.52,1.98,5.25
2,14.06,2.15,17.6,121.0,2.51,1.25,5.05
3,13.86,1.35,16.0,98.0,3.15,1.85,7.22
4,13.75,1.73,16.0,89.0,2.76,1.81,5.60